@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

nav {
  padding: 10px;
  position: sticky;
  top: 0px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}



.slider-frame {
  overflow: hidden;
  height: 280px;
  width: 1140px;
  margin-left: 70px;
  margin-top: 20px;
}

@-webkit-keyframes slide_animation{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left:2400px;}
  50% {left:2400px;}
  60% {left:1200px;}
  70% {left:1200px;}
  80% {left:0px;}
  90% {left:0px;}
  100% {left:0px;}
}

.slide-images{
  width:3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-container {
  height: 1000px;
  width: 1200px;
  position: relative;
  float: left;
}

.buy-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.05);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.card-img-top {
  max-height: 26rem;
}

.cart-img {
  width: 10rem;
  max-height: 10rem;
  object-fit: cover;
}



.shop-item {
  overflow: hidden;
  max-width: 18rem;
}
#cart-sidebar {
  width: 45rem;
}
.checkout-form,
.complete-state {
  width: 24rem;
  margin: 0 auto;
}
.card-img-top {
  height: 20rem;
  object-fit: cover;
  transition: scale 300ms;
}
.card-img-top:hover {
  scale: 1.01;
}
.cart-img {
  width: 6rem;
  max-height: 6rem;
  object-fit: cover;
}
.cart-quantity-input {
  padding: 0.2em 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

footer {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}